header {
    color: white;
    // background: red;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.headerContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.bg {
    background: #1F1F1F;
    width: 48px;
    height: 100%;
    border-radius: 50%;
}

.bg:hover {
    background: #2A2A2A;
}

.searchContainer {
    background: #1F1F1F;
    width: 474px;
    height: 100%;
    border-radius: 500px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    gap: 0.5rem;
}

input.searchInput {
    border-right: 1px solid #fff;
}

input.searchInput:focus {
    border: none;
    border-right: 1px solid #fff;
    outline: none;
}

.searchContainer:focus-within {
    border: 2px solid #fff;
    background: #2A2A2A;
}