@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
    cursor: pointer;

}

.btn:hover {
    transform: scale(1.05);

    svg-icon svg {
        color: white !important;
    }
}